<ion-nav-view>
    <ion-view title="My title">
        <div class="bar bar-header my_red">
            <h1 class="title">Red Ant</h1>
        </div>
        <i class=""></i>
        <ion-content class="has-header">
            <h2 class="text-center">My Profile</h2>
            <div class="card" style="padding: 4%">
                <form ng-submit="profile_update(profile)">
                    <label class="item-input-inset item item-input item-stacked-label">
                        <span class="input-label">Full Name</span>
                        <label class="item-input-wrapper">
                            <input type="text" placeholder="John" ng-model="profile.name">
                        </label>

                    </label>
                    <label class="item-input-inset item item-input item-stacked-label">
                        <span class="input-label">Email Address</span>
                        <label class="item-input-wrapper">
                            <input type="text" placeholder="John" ng-model="profile.email">
                        </label>

                    </label>
                    <label class="item-input-inset item item-input item-stacked-label">
                        <span class="input-label">Account Created At</span>
                        <label class="item-input-wrapper">
                            <input type="text" disabled="disabled" value="{{profile.created_at}}">
                        </label>

                    </label>
                    <button type="submit" class="button button-block button-assertive button-outline">Update</button>
                </form>
            </div>
        </ion-content>
    </ion-view>
</ion-nav-view>
